{% extends 'base.html' %}
{% load static %}

{% block title %}図面登録{% endblock %}

{% block contents %}
    <div class="container">
        <div class="row">
            <div class="my_div_style w-100">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <table class="table">
                            {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary create_button" type="submit">登録</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}